<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Metadata Microservice</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h2>File Metadata Microservice</h2>
    <h3>User Stories:</h3>
    <ol>
      <li>User can submit a form object that includes a file upload.</li>      
      <li>When user submit something, User will receive the file name, and size in bytes within the JSON response.</li>
    </ol>

    <h3>Usage:</h3>
    <p>
      Please Upload a File ...
    </p>
    <div class="view">
      <h4 id="output"></h4>
      <form enctype="multipart/form-data" method="POST" action="/api/fileanalyze">
        <input id="inputfield" type="file" name="upfile">
        <input id="button" type="submit" value="Upload">
      </form>
    </div>
  </div>
</body>
</html>