<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Metadata Microservice</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>File Metadata Microservice</h1>
  <div class="container">
    <p>
      Please Upload a File ...
    </p>
    <form enctype="multipart/form-data" method="POST" action="/api/fileanalyze">
      <input id="inputfield" type="file" name="upfile">
      <input id="button" type="submit" value="Upload">
    </form>
  </div>
</body>
</html>